/* Global styles */
body{
    background: #67A1B8;
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    width:80%;
    margin:auto;
}

.wrapper{
    text-align: center;
    padding: 10px 0px;
}

/* Header style */
header{
    background: #467587;
    min-height: 75px;
}

header a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

ul{
    text-align: center;
    margin:0;
}

header li{
    display: inline;
    font-size: 50px;
    color: #e3e3e3;
}

header .encode-container{
    float: left;
    width: 45%;
    padding-right: 25px;
}

header .decode-container{
    float: rigth;
    width: 45%;
    padding-left: 25px;
}

header .current a{
    color: #EF4D21;
    font-weight: bold;
}

/* Body style */
body{
    color: #271F1F;
    font-size: 30px;
}

#instructions{
    text-align: center;
}

input{
    height: 45px;
    padding-left: 20px;
    font-size: 25px;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    color: #271F1F;
}

button{
    height:45px;
    border:0;
    padding-left: 20px;
    padding-right:20px;
    color:#ffffff;
    font-size: 25px;
    background: #092066;
    text-align: center;
    border-radius: 12px;
}